h1, h2, h3 { text-align: center; }


div.container {
	text-align: center;
	border-radius: 7px;
	margin: 5px auto;
	padding: 10px;
	width: 95%;
}


button.delete {
	width: 10%;
	margin: 0 auto;
}


div.line {
	background-color: #7289da;
	margin-bottom: 15px;
	margin-top: 15px;
	height: 2px;
}



input[type="text"] {
	display: inline-block !important;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	width: 40%;
}

/* Move boxes further apart */
/*input[type="text"].left { margin-right: 10%; }
input[type="text"].right { margin-left: 10%; }*/